.header-container {
  height: 15%;
  width: 100%;
  border: 1px black solid;
  display: flex;
}

.app-name {
  font-size: x-large;
  color: #84695D;
  height: 100%;
  width: 75%;
  margin-left: 7%;
}

.nav-container {
  width: 25%;
  height: 100%;
}

.hamburger {
  width: 100%;
  height: 100%;
  color: #AE785E;
}

.menu {
  background-color: #B19271;
}

.menu-items {
 color: #84695D;
}