.header-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-name {
  font-size: xx-large;
  color: #CEC1BC;
  height: 90%;
  width: 65%;
  margin-left: 7%;
  font-weight: 500;
}