.nav-container {
  width: 25%;
  height: 70%;
}

.hamburger {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 65%;
  height: 3px;
  background-color: #D8C8BA;
  margin: 6px 0;
  border-radius: 2px;
}

.bar:nth-child(2) {
  width: 85%; 
}

.menu {
  background-color: #B19271;
  width: 150px;

}

.menu-items {
 color: #84695D;
 font-size: medium;
}